.card__block {
    background-color: white;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: flex-end;
    box-shadow: 0 0 6px rgb(160, 160, 160);
}

.card__header {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card__header__icon {
    color: orange;
    font-size: 25px;
    margin-bottom: 10px;
}

.card__header__name{
    font-size: 20px;
}

.card__content {
    display: flex;
    height: 50%;
    margin: 15px 25px;
    font-size: 10.5px;
    color: gray;
    text-align: center;
}

.card__footer {
    width: 100%;
    height: 35px;
    background: $background;
    background: $background-linear;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    button {
        color: white;
        border: none;
        background: none;
        cursor: pointer;
    }
    span {
        font-size: 20px;
        margin-left: 10px;
    }
}

.router__link__decoration {
    text-decoration: none !important;
    color: white !important;
}