.details__content__block{
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}

.details__content__card {
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
    background-color: white;
    color: orange;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
        margin-top: 15px;
        align-self: center;
        max-width: 90%;
    }
    div{
        font-size: 12px;
        margin: 15px;
    }
}
.details__content__text{
    color: rgba(46, 46, 46, 0.549);
    font-size: 14px;
}

.details__footer__price {
    font-size: 25px;
}

.details__footer__button {
    background: $background;
    background: $background-linear;
    height: 30px;
    width: 100px;
    margin-left: 15px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .details__content__block {
        flex-wrap: wrap;
    }
    .details__content__text {
        margin: 10px;
    }
    .details__footer{
        margin-left: 10px;
    }
}